<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">

    @if (RediccionPanelOpen) {
      <div tabindex="-1" aria-hidden="true" class="fixed inset-0 z-50 overflow-y-auto">
          <!-- Overlay -->
          <div class="fixed inset-0 bg-black bg-opacity-50"></div>

          <!-- Modal -->
          <div class="relative flex items-center justify-center min-h-screen p-4">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 max-w-2xl w-full">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Realiza tu Seguimiento
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="RediccionPanelOpen = false">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <!-- Modal body -->
              <div class="p-4 md:p-5 space-y-4">
                <a class="flex w-full items-center justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:cursor-pointer" (click)="Panel()">Ingresa a tu panel</a>
              </div>
            </div>
          </div>
      </div>
    }

    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Carrito de Compras</h2>

    <br>

    <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
      <div class="flex justify-between mb-5 mx-auto lg:max-w-2xl xl:max-w-4xl px-4">
        <div #carrito class="progress activate-carrito rounded-full items-center">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.583 8.445h.01M10.86 19.71l-6.573-6.63a.993.993 0 0 1 0-1.4l7.329-7.394A.98.98 0 0 1 12.31 4l5.734.007A1.968 1.968 0 0 1 20 5.983v5.5a.992.992 0 0 1-.316.727l-7.44 7.5a.974.974 0 0 1-1.384.001Z"/>
          </svg>
        </div>

        <div #datos class="progress rounded-full items-center">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 8h6m-6 4h6m-6 4h6M6 3v18l2-2 2 2 2-2 2 2 2-2 2 2V3l-2 2-2-2-2 2-2-2-2 2-2-2Z"/>
          </svg>
        </div>

        <div #pagar class="progress rounded-full items-center">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M6 14h2m3 0h5M3 7v10a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1Z"/>
          </svg>
        </div>

      </div>
    </div>


    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">


      <!-- Conditional rendering for cart steps -->
      @switch (estadopayment)
      {
        @case ("CARRITO") {
          <!-- Advertencia -->
          <div *ngIf="CreateIOpen" tabindex="-1" aria-hidden="true" class="fixed inset-0 z-50 overflow-y-auto">
                <!-- Overlay -->
                <div class="fixed inset-0 bg-black bg-opacity-50"></div>

                <!-- Modal -->
                <div class="relative flex items-center justify-center min-h-screen p-4">
                  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 max-w-2xl w-full">
                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4 text-center">
                      <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                      </svg>
                      <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Mínimo 1 producto seleccionado para continuar con la compra.</h3>
                      <button (click)="CreateIOpen = false" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-auto block">
                        Cerrar
                      </button>
                    </div>
                  </div>
                </div>
          </div>

          <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
            <div class="space-y-6">
              @for (cartItem of state.products(); track cartItem.product.id) {
                <app-cart-item
                class="block"
                [productCartItem]="cartItem"
                (Remove)="onRemove($event)"
                (Decrease)="onDecrease($event)"
                (Increase)="onIncrease($event)"
                />
              }
            </div>

            <br>

            <div class="flex">
              <button class="flex-1 py-2 px-3 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900" (click)="checkCartItems()">Proceder Pago</button>
            </div>

          </div>
        }

        @case ("DATOS") {
          <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">

            <!-- Advertencia -->
            <div *ngIf="CreateOpen" tabindex="-1" aria-hidden="true" class="fixed inset-0 z-50 overflow-y-auto">
                  <!-- Overlay -->
                  <div class="fixed inset-0 bg-black bg-opacity-50"></div>

                  <!-- Modal -->
                  <div class="relative flex items-center justify-center min-h-screen p-4">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 max-w-2xl w-full">
                      <!-- Modal body -->
                      <div class="p-4 md:p-5 space-y-4 text-center">
                        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Completa tus datos para seguir con el pago.</h3>
                        <button (click)="CreateOpen = false" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-auto block">
                          Cerrar
                        </button>
                      </div>
                    </div>
                  </div>
            </div>

            <!-- Form -->
            <form #billingForm="ngForm" (ngSubmit)="onSubmit(billingForm)">
                  <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                    <div class="mb-6">
                      <label for="editNombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombres</label>
                      <input type="text" id="editNombre" name="editNombre" [(ngModel)]="data.customer.billingDetails.firstName" #editNombre="ngModel" placeholder="Ingrese Nombres"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                      <div *ngIf="editNombre.invalid && editNombre.touched" class="text-red-600 text-sm">Nombres es requerido</div>
                    </div>
                    <div class="mb-6">
                      <label for="editApellido" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
                      <input type="text" id="editApellido" name="editApellido" [(ngModel)]="data.customer.billingDetails.lastName" #editApellido="ngModel" placeholder="Ingrese Apellidos"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                      <div *ngIf="editApellido.invalid && editApellido.touched" class="text-red-600 text-sm">Apellidos es requerido</div>
                    </div>
                    <div class="mb-6">
                      <label for="editAddress" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
                      <input type="text" id="editAddress" name="editAddress" [(ngModel)]="data.customer.billingDetails.address" #editAddress="ngModel" placeholder="Ingrese Dirección"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                      <div *ngIf="editAddress.invalid && editAddress.touched" class="text-red-600 text-sm">Dirección es requerido</div>
                    </div>
                    <div class="mb-6">
                      <label for="editCelular" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Celular</label>
                      <input type="text" id="editCelular" name="editCelular" [(ngModel)]="data.customer.billingDetails.cellPhoneNumber" #editCelular="ngModel" placeholder="Número de Celular"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                      <div *ngIf="editCelular.invalid && editCelular.touched" class="text-red-600 text-sm">Celular es requerido</div>
                    </div>
                    <div class="mb-6">
                      <label for="editEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                      <input type="email" id="editEmail" name="editEmail" [(ngModel)]="data.customer.email" #editEmail="ngModel" placeholder="ejemplo@gmail.com"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                      <div *ngIf="editEmail.invalid && editEmail.touched" class="text-red-600 text-sm">Email es requerido</div>
                    </div>
                    <div class="mb-6">
                      <label for="editDNI" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI</label>
                      <input type="text" id="editDNI" name="editDNI" [(ngModel)]="data.customer.billingDetails.identityCode" #editDNI="ngModel" placeholder="Ingrese DNI"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                      <div *ngIf="editDNI.invalid && editDNI.touched" class="text-red-600 text-sm">DNI es requerido</div>
                    </div>
                  </div>
            </form>

            <div class="flex gap-2">
              <button type="button" (click)="Regresar()" class="flex-1 py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                Regresar
              </button>
              <button type="button" (click)="onContinue(billingForm)" class="flex-1 py-2 px-3 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900">
                Continuar
              </button>
            </div>

          </div>
        }
        @case("PAYMENT"){

          <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
            <div class="space-y-2">
              <button type="button" (click)="TipoPago = 'TRANSFERENCIA'" class="w-full py-2 px-3 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900">
                Transferencia o Deposito Bancario
              </button>
              <button type="button" (click)="ProcesoPagoTarjeta()" class="w-full py-2 px-3 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900">
                Tarjeta de Debito o Credito
              </button>
            </div>

            <br>

            @if(TipoPago === "TRANSFERENCIA"){
              <div>truee</div>
            }@else if(TipoPago === "TARJETA"){
              <div class="container">
                <div id="myPaymentForm">
                  <div class="kr-smart-form" kr-popin></div>
                </div>
                <div data-test="payment-message">{{ message }}</div>
              </div>
            }

            @if(message === "pagado"){
              <div>PAGO PROCESADO</div>
            }

            <div class="flex gap-2">
              <button type="button" (click)="Regresar2()" class="flex-1 py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                Regresar
              </button>
              <button type="button" class="flex-1 py-2 px-3 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900">
                Continuar
              </button>
            </div>

          </div>
        }
      }


      <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
        <!-- Order details -->
        <p class="text-xl font-semibold text-gray-900 dark:text-white">Order de Compra</p>

        <div class="space-y-4">

            <div class="space-y-2">
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Precio Original</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">{{ state.price() | currency:'S/. ' }}</dd>
              </dl>

              <dl class="flex items-center justify-between gap-4">
                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Guardado</dt>
                <dd class="text-base font-medium text-red-600">-$0.00</dd>
              </dl>

            </div>

            <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
              <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
              <dd class="text-base font-bold text-gray-900 dark:text-white">{{ state.price() | currency:'S/. ' }}</dd>
            </dl>
        </div>
      </div>
    </div>

  </div>

</section>

