<p class="text-2xl text-center font-extrabold text-gray-800 dark:text-white">Lista Salida</p>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Fecha</th>
                <th scope="col" class="px-6 py-3">Usuario</th>
                <th scope="col" class="px-6 py-3">Documento</th>
                <th scope="col" class="px-6 py-3">RUC/DNI/ETC</th>
                <th scope="col" class="px-6 py-3">Denominación</th>
                <th scope="col" class="px-6 py-3">Total</th>
                <th scope="col" class="px-6 py-3">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let v of Ventas" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{v.fecha_emision[2]}}/{{v.fecha_emision[1]}}/{{v.fecha_emision[0]}}
                </th>
                <td class="px-6 py-4">{{v.usuario.name}}</td>
                <td class="px-6 py-4">{{v.correlativo.documento}}</td>
                <td class="px-6 py-4">{{v.cliente.documento}}</td>
                <td class="px-6 py-4">{{v.cliente.nombre}}</td>
                <td class="px-6 py-4">{{v.total | currency:'S/. '}}</td>

                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Opciones</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>