
<!-- CAROUSEL -->
<div class="rounded">
  @if (imagenespublicitarias["flyer principal"]) {
    <app-carrusel-img [imagenes]="imagenespublicitarias['flyer principal'].length ? imagenespublicitarias['flyer principal'] : []"></app-carrusel-img>
  }
</div>


@for (categorias of ObjectKeys(Categoria_Producto); track $index) {
  <p class="text-2xl text-center font-extrabold text-gray-800 dark:text-white mb-8">{{categorias}}</p>
  <app-carrusel-cartproduct
      [productos]="Categoria_Producto[categorias]"
  ></app-carrusel-cartproduct>
}

